<div class="w-full h-full items-center justify-start flex flex-col p-5 gap-2">

<h2 class="text-xl font-bold">Edit User</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put, html: { class: "flex flex-col gap-1" }) do |f| %>  

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="w-full">
  <%= f.label :alias, class: "text-sm font-medium text-gray-700" %>
  <%= f.text_field :alias, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
</div>

<div class="w-full">
<%= f.label :tel, class: "text-sm font-medium text-gray-700" %>
<%= f.text_field :tel, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
</div>

<div class="w-full">
  <%= f.label :role_id, class: "text-sm font-medium text-gray-700" %>
  <%= f.collection_select :role_id, Role.all, :id, :name, { prompt: "Select a Rol" }, { required: true, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", disabled: true } %>
</div>
 
<div class="w-full">
<%= f.label :entry_date, class: "text-sm font-medium text-gray-700" %>
<%= f.date_field :entry_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
</div>

<div class="w-full">
<%= f.label :email, class: "text-sm font-medium text-gray-700" %>
<%= f.email_field :email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
</div>

<div class="w-full pb-2">
    <%= f.label :password , class: "text-sm font-medium text-gray-700" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

<div class="w-full">
    <%= f.label :password_confirmation , class: "text-sm font-medium text-gray-700" %>
    <%= f.password_field :password_confirmation, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
<div class="w-full">
    <%= f.label :current_password , class: "text-sm font-medium text-gray-700" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

 <div class="flex gap-2">

    <%= f.submit "Confirm", class: "bg-lilac text-darkPurple mt-2 p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium" %>
<%= link_to "Back to Home", root_path, class: "mt-2 p-2 rounded-xl bg-gray-100 font-medium border border-black hover:bg-black hover:text-white" %>

    </div>

    <% end %>

</div>
