<div class="w-1/3 h-full items-center justify-start flex flex-col p-5 gap-2">

<h2 class="text-xl font-bold">Editing user</h1>
 
<% if flash[:notice] %>
<div class="w-full max-w-md mx-auto bg-green-500 text-white text-center py-2 px-4 rounded-xl mb-4">
  <%= flash[:notice] %>
</div>
<% flash.discard(:notice) %>
<% end %>

  <%= form_with(model: @user, class: "contents") do |form| %>
     <% if @user.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul class="list-disc pl-5 mt-2">
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
    <div class="w-full">
      <%= form.label :alias , class: "text-sm font-medium text-gray-700" %>
      <%= form.text_field :alias, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
          </div>
  
    <div class="w-full">
      <%= form.label :email , class: "text-sm font-medium text-gray-700" %>
      <%= form.text_field :email, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
    </div>
  
    <div class="w-full">
      <%= form.label :tel , class: "text-sm font-medium text-gray-700" %>
      <%= form.text_field :tel, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
    </div>

    <div class="w-full">
      <%= form.label :role_id , class: "text-sm font-medium text-gray-700" %>
      <%= form.collection_select :role_id, Role.all, :id, :name, { prompt: "Select Role" }, 
        { 
          required: true,
          class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", 
          disabled: @user == current_user 
        } %>
    </div>
  
    <div class="w-full">
      <%= form.label :entry_date , class: "text-sm font-medium text-gray-700" %>
      <%= form.date_field :entry_date, class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
    </div>
  
    <div class="flex gap-2">
      <%= form.submit class: "bg-lilac text-darkPurple mt-2 p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium" %>
      <%= link_to "Back to users", users_path, class: "mt-2 p-2 rounded-xl bg-gray-100 font-medium border border-black hover:bg-black hover:text-white" %>

      </div>
  <% end %>
  
</div>
