<div class="w-full p-5">

  <% content_for :title, "Usuarios" %>

  <div class="flex justify-between">
    <h1 class="font-bold text-3xl text-darkPurple">Usuarios</h1>
    <%= link_to "New User", new_user_registration_path, class: "bg-lilac text-darkPurple p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium" %>
  </div>

  <p class="text-darkLilac mb-6">Aquí podrá ver la información sobre los usuarios del sistema.</p>

  <div id="users" class="min-w-full">
    <table class="min-w-full table-auto border-collapse">
      <thead class="bg-lilac text-white">
        <tr>
          <th class="px-4 py-2 border">Name</th>
          <th class="px-4 py-2 border">Email</th>
          <th class="px-4 py-2 border">Role</th>
          <th class="px-4 py-2 border">Active</th>
          <th class="px-4 py-2 border">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="border-b hover:bg-gray-100">
            <td class="px-4 py-2"><%= user.alias %></td>
            <td class="px-4 py-2"><%= user.email %></td>
            <td class="px-4 py-2"><%= user.role.name %></td>
            <td class="px-4 py-2"><%= user.active ? 'Yes' : 'No' %></td>
            <td class="px-4 py-2 text-center flex">
              <%= link_to 'View/Edit', edit_user_path(user.id), class: "text-yellow-500 hover:text-yellow-700" %> 
              <% if user != current_user %>
              |
               <% if user.active %>
                <%= button_to 'Deactivate', deactivate_user_path(user), method: :patch, class: "text-red-500 hover:text-red-700" %>
                <% else %>
                <button class="text-green-500 hover:text-green-700" onclick="openModal(<%= user.id %>)">Activate</button>
              <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div id="activationModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
  <div class="bg-white p-5 rounded shadow-lg">
    <h2 class="text-xl font-bold mb-3">Set New Password</h2>
<%= form_with url: activate_user_path(':id'), method: :patch, local: true, id: "activateUserForm" do |form| %>
  <%= form.hidden_field :id, id: "user_id" %>
  <div class="mb-4">
    <%= form.label :password, "New Password" %>
    <%= form.password_field :password, name: "user[password]", class: "w-full p-2 border rounded", required: true, minlength: 6 %>
  </div>
  <div class="mb-4">
    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.password_field :password_confirmation, name: "user[password_confirmation]", class: "w-full p-2 border rounded", required: true, minlength: 6 %>
  </div>
  <div class="flex justify-end">
    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" onclick="closeModal()">Cancel</button>
    <%= form.submit "Activate", class: "bg-green-500 text-white px-4 py-2 rounded" %>
  </div>
<% end %>
  </div>
</div>

<script>
function openModal(userId) {
  const form = document.getElementById('activateUserForm')
  form.action = `/users/${userId}/activate`;
  document.getElementById('user_id').value = userId;
  document.getElementById('activationModal').classList.remove('hidden');
}
function closeModal() {
  document.getElementById('activationModal').classList.add('hidden');
}
</script>
