<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% flash.discard(:notice) %>
<% end %>

<div class="flex flex-wrap justify-center gap-6 w-full h-full items-start pt-12">
  <% if @products.present? %>
    <% @products.each do |product| %>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden sm:max-w-md md:max-w-lg lg:max-w-xl">
        
        <div class="p-5 bg-lilac">
          <%= image_tag product.images.first, class: "w-40 h-40 object-cover" %>
          <h5 class="text-lg font-bold text-gray-900"><%= product.name %></h5>
          <p class="mt-2 text-gray-700 text-sm sm:text-base"><%= product.description %></p>
          <p class="mt-2 text-gray-700 text-sm sm:text-base">Price: $<%= product.unit_price %></p>
          <p class="mt-2 text-gray-700 text-sm sm:text-base">Stock: <%= product.available_stock %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="mt-2 text-gray-700 text-sm sm:text-base">Products not available</p>
  <% end %>
</div>
