<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if flash[:alert] %>
    <div class="w-full max-w-md mx-auto bg-red-500 text-white text-center py-2 px-4 rounded-xl mb-4">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,  required: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password,  required: true, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "bg-lilac text-darkPurple p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium"%>
  </div>
<% end %>

