<h1 class="text-3xl text-darkPurple p-5">Product Variants</h1>
<% if flash[:notice] %>
<div class="w-full max-w-md mx-auto bg-green-500 text-white text-center py-2 px-4 rounded-xl mb-4">
  <%= flash[:notice] %>
</div>
<% flash.discard(:notice) %>
<% end %>
<% if flash[:alert] %>
<div class="w-full bg-red-500 max-w-md mx-auto text-white text-center py-2 px-4 rounded-xl mb-4">
<%= flash[:alert] %>
</div>
<% end %>
<div class="w-full flex">
<div class="w-1/3 p-5">
<div class="flex justify-between">
  <h1 class="font-bold text-3xl text-darkPurple">Colors</h1>
  <%= link_to "New Color", new_color_path, class: "bg-lilac text-darkPurple p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium" %>
</div>

<div id="colors" class="min-w-full">
  <table class="min-w-full table-auto border-collapse">
    <thead class="bg-lilac text-white">
      <tr>
        <th class="px-4 py-2 border">Name</th>
        <th class="px-4 py-2 border">Actions</th>
      </tr>
    </thead>
    <tbody>
  <% if @colors.any? %>
    <% @colors.each do |color| %>
      <tr class="border-b hover:bg-gray-100">
        <td class="px-4 py-2"><%= color.name %></td>
        <td class="px-4 py-2 text-center flex gap-3">
          <%= link_to 'Edit', edit_color_path(color.id), class: "text-yellow-500 hover:text-yellow-700" %>
          <%= button_to "Delete", color_path(color.id), method: :delete, 
                data: { turbo_confirm: "Are you sure you want to remove this color?" },
                class: "text-red-500 hover:text-red-700" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2" class="text-center px-4 py-2 text-gray-500">
      There are no colors
      </td>
    </tr>
  <% end %>
</tbody>

  </table>
</div>
</div>
<div class="w-1/3 p-5">
<div class="flex justify-between">
  <h1 class="font-bold text-3xl text-darkPurple">Categories</h1>
  <%= link_to "New Category", new_category_path, class: "bg-lilac text-darkPurple p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium" %>
</div>

<div id="categories" class="min-w-full">
  <table class="min-w-full table-auto border-collapse">
    <thead class="bg-lilac text-white">
      <tr>
        <th class="px-4 py-2 border">Name</th>
        <th class="px-4 py-2 border">Actions</th>
      </tr>
    </thead>
    <tbody>
  <% if @categories.any? %>
    <% @categories.each do |category| %>
      <tr class="border-b hover:bg-gray-100">
        <td class="px-4 py-2"><%= category.name %></td>
        <td class="px-4 py-2 text-center flex gap-3">
          <%= link_to 'Edit', edit_category_path(category.id), class: "text-yellow-500 hover:text-yellow-700" %>
          <%= button_to "Delete", category_path(category.id), method: :delete, 
                data: { turbo_confirm: "Are you sure you want to delete this category?" },
                class: "text-red-500 hover:text-red-700" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2" class="text-center px-4 py-2 text-gray-500">
        No categories found
      </td>
    </tr>
  <% end %>
</tbody>

  </table>
</div>
</div>

<div class="w-1/3 p-5">
<div class="flex justify-between">
  <h1 class="font-bold text-3xl text-darkPurple">Sizes</h1>
  <%= link_to "New Size", new_size_path, class: "bg-lilac text-darkPurple p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium" %>
</div>

<div id="sizes" class="min-w-full">
  <table class="min-w-full table-auto border-collapse">
    <thead class="bg-lilac text-white">
      <tr>
        <th class="px-4 py-2 border">Name</th>
        <th class="px-4 py-2 border">Actions</th>
      </tr>
    </thead>
    <tbody>
  <% if @sizes.any? %>
    <% @sizes.each do |size| %>
      <tr class="border-b hover:bg-gray-100">
        <td class="px-4 py-2"><%= size.name %></td>
        <td class="px-4 py-2 text-center flex gap-3">
          <%= link_to 'Edit', edit_size_path(size.id), class: "text-yellow-500 hover:text-yellow-700" %>
          <%= button_to "Delete", size_path(size.id), method: :delete, 
                data: { turbo_confirm: "Are you sure you want to delete this size?" },
                class: "text-red-500 hover:text-red-700" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2" class="text-center px-4 py-2 text-gray-500">
        No sizes found
      </td>
    </tr>
  <% end %>
</tbody>

  </table>
</div>
</div>

</div>

