<%= form_with(model: category, class: "contents") do |form| %>

   <% if category.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

    <ul class="list-disc pl-5 mt-2">
      <% category.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" , required: true %>
  </div>

  <div class="inline">
  <%= form.submit class: "bg-lilac text-darkPurple mt-2 p-2 border border-lilac rounded-xl hover:text-white hover:bg-darkLilac hover:cursor-pointer font-medium" %>
</div>
<% end %>
