<%= form_with(model: product, class: "contents") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :inventory_entry_date %>
    <%= form.date_field :inventory_entry_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :available_stock %>
    <%= form.number_field :available_stock, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :unit_price %>
  <%= form.number_field :unit_price, 
        class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", 
        step: "0.01" %> <!-- step: "0.01" permite valores decimales -->
</div>
  
  <div class="my-5">
      <%= form.label :size_id %>
      <%= form.collection_select :size_id, Size.all, :id, :name, { prompt: "Select Size" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"%>
    </div>

    <div class="my-5">
    <%= form.label :color_id %>
    <%= form.collection_select :color_id, Color.all, :id, :name, { prompt: "Select Color" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"%>
  </div>

  <div class="my-5">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select Category" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"%>
  </div>

  <% if product.persisted? && product.images.attached? %>
  <div class="field">
  <strong>Current Images:</strong>
  <ul class="flex">
    <% product.images.each do |image| %>
      <li class="flex items-center gap-4">
        <%= image_tag image, class: "w-32 h-32 object-cover" %>
    <% end %>
  </ul>
</div>
<% end %>

   <div class="form-group mb-3">
    <%= form.label :new_images, "Upload Images", class: "form-control-label" %>
    <%= form.file_field :new_images, multiple: true, name: "product[new_images][]", class: "form-control" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
