<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p>
  <strong>Images:</strong>
  <% product.images.each do |image| %>
    <%= image_tag image, class: "w-32 h-32 object-cover" %>
  <% end %>
</p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory entry date:</strong>
    <%= product.inventory_entry_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Delete date:</strong>
    <%= product.deleted_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Available stock:</strong>
    <%= product.available_stock %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit price:</strong>
    <%= product.unit_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= product.size_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= product.color_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category_id %>
  </p>

</div>
