<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p>
  <strong>Images:</strong>

  <div class="flex">
  <% product.images.each do |image| %>
    <%= image_tag image, class: "w-32 h-32 object-cover" %>
  <% end %>
  </div>
</p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

<p class="my-5 flex">
  <strong class="block font-medium mb-1">Available stock:&nbsp;</strong>
  <%= product.available_stock %>
</p>

<p class="my-5 flex">
  <strong class="block font-medium mb-1">Unit price:&nbsp;</strong>
  <%= product.unit_price %>
</p>

<p class="my-5 flex">
  <strong class="block font-medium mb-1">Tamaño:&nbsp;</strong>
  <%= product.size&.name || "Sin tamaño" %>
</p>

<p class="my-5 flex">
  <strong class="block font-medium mb-1">Color:&nbsp;</strong>
  <%= product.color&.name || "Sin color" %>
</p>

<p class="my-5 flex">
  <strong class="block font-medium mb-1">Categoría:&nbsp;</strong>
  <%= product.category&.name || "Sin categoría" %>
</p>

<% if user_signed_in? %>
  <p class="my-5 flex">
  <strong class="block font-medium mb-1">Inventory entry date:&nbsp;</strong>
  <%= product.inventory_entry_date %>
</p>

<% end %>
</div>
