<div id="<%= dom_id sale %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= sale.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total sale:</strong>
    <%= sale.total_sale %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= sale.client %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= sale.deleted_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Realization datetime:</strong>
    <%= sale.realization_datetime %>
  </p>

</div>
